<% @articles.each do |article| %>
<p>
    <h4><%= link_to article.title, article_path(article) %></h4>
</p>
<p>
	<%= article.text %>
</p>
<p>
Posted by 
<% if article.user == nil %>
  <em>Delete user</em>
<% else %>
  <em><%= link_to article.user.email, user_path(article.user.id)%></em>
<% end %>
in <%= article.time %>
<%  if user_signed_in? && current_user==article.user %>
  <%= link_to 'Edit', edit_article_path(article) %>,
  <%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
  · <%= link_to article.comments.count.to_s + ' comments', article_path(article)%>
  </br>
  </br>
<% end %>
</br>
<% if user_signed_in? %>
 <%= link_to 'New Post', new_article_path %>
<% end %>