<p>
  <h4><%= @article.title %></h4>
</p>
 
<p>
  <%= @article.text %>
</p>
Posted by 
<% if @article.user == nil %>
  <em>Delete user</em>
<% else %>
  <em><%= @article.user.email %></em>
<% end %>
in <%= @article.time %>
<p>
<%= link_to 'Back', articles_path %>
<% if user_signed_in? && current_user==@article.user %>
<%= link_to 'Edit', edit_article_path(@article) %>
<% end %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>
 
<h2>Add a comment:</h2>
<%= render "comments/form" %>
