<h1>Blog App Kefir</h1>
<p>
  <h4><%= @article.title %></h4>
</p>

<p>
<% if @article.user == nil %>
  <em>Delete user</em>
<% else %>
   <em><%= @article.user.email %></em>
<% end %>
<p/>
 
<p>
  <%= @article.text %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>
 
<h2>Add a comment:</h2>
<%= render "comments/form" %>
 
<%= link_to 'Back', articles_path %> 
| <%= link_to 'Edit', edit_article_path(@article) %>